@import "bootstrap";
@import "util";

.server-table {

    &--server {

        &--favourite {

            //display: flex;
            //justify-content: center;
            //align-items: center;
            text-align: center;


            a{
                font-size: 1.5rem;
                text-decoration: none;
            }

        }

        &--name {
            //max-width: 30vw;
            overflow-wrap: break-word;
        }

        &--country {
            white-space: pre;
        }

    }

}

body .btn {
    vertical-align: baseline;
}