.pagination {

    .page-item {

        .page-label {
            display: block;
            padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
            border-color: var(--bs-pagination-hover-border-color);
        }

    }

}