<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DayZ Server Browser</title>

    {{ css_entry_tags }}

</head>
<body>
<div class="container my-5">
    <h1 class="mb-1">DayZ Server Browser</h1>
    <div data-react="App"></div>
</div>

{{ js_entry_tags }}

</body>
</html>
